_/
.ipynb_checkpoints/
ApresentaçõesSemanais/_
ApresentaçõesSemanais/Fotos/
ApresentaçõesSemanais/PowerPoint/
Data/
Notebooks/
PowerBI/
PPT_Final/
PACDI_Suécia_Grupo2.zip

Apresentação_Final_PACDI_Grupo2_ATP.pptx
Relatório_PACDI_Grupo2_ATP_Final.docx